@mixin center-absolute{
  left: 50%;
  right: 50%;
  transform: translate(-50%,0%);
}
@mixin metadata{
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
  color: rgba(0,0,0,.46);
}
.pokemon-card {
  height: 25rem;
  position: relative;
  table {
    width: 100%;
  }
  .number{
    @include metadata;
    top: 5px;
    left: 7px;
  }
  .level{
    @include metadata;
    top: 3rem;
    left: 7px;
    font-weight: bolder;
  }
  .hidden{
    display: none;
  }
  .weight{
    @include metadata;
    right: 7px;
    top: 2rem;
  }
  .height{
    @include metadata;
    right: 7px;
    top: 5px;
  }
  .attacked{
    @include metadata;
    width: 10%;
    top: 5.3rem;
    left: 7px;
    span {
      font-size: 1.8rem;
    }
    .fa-2x{
      font-size: 1.4rem;
    }
  }
  .defended{
    @include metadata;
    width: 10%;
    left: 7px;
    top: 7.3rem;
    span {
      font-size: 1.8rem;
    }
    .fa-2x{
      font-size: 1.4rem;
    }
  }
  .name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.9rem;
    font-weight: bold;
    position: relative;
  }
  .CP{
    font-size:1.9rem;
    text-align: right;
  }
  .image-box{
    overflow: hidden;
    background-color: #eeeeee;
    position: relative;
    width: 100%;
    height: 9.7rem;
    img{
      z-index: 0;
      position: absolute;
      @include center-absolute;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .image-box-type1{
    overflow: hidden;	
	position: absolute;
    top: 7rem;
	right: 7px;
  }
  .image-box-type2{
    overflow: hidden;
	position: absolute;
    top: 8.5rem;
	right: 7px;
  }
  .data{
    .big-bars{
      margin-bottom: .6rem;
      .progress{
        height: 2.2rem;
        margin-bottom: .3rem;
        .progress-bar{
          font-size: 1.3rem;
          line-height: 2.3rem;
        }
      }
    }
    .small-bars{
      .progress{
        height: 1.6rem;
        margin-bottom: .3rem;
        .progress-bar{
          font-size:1.1rem;
          line-height:1.6rem;
        }
      }
      .IV {
        font-size: 1.2rem;
      }
      .IV-bar{
        width: 86%;
      }
    }
  }
}
.type {  
  display: inline-block;
  background: url(type/public_pkmn_type_icons_by_kryptonlion.png) no-repeat;
}

.normal {
  width: 59px;
  height: 14px;
  background-position: -203px -19px;
}
.fighting {
  width: 59px;
  height: 14px;
  background-position: -203px -34px;
}
.flying {
  width: 59px;
  height: 14px;
  background-position: -203px -49px;
}
.poison {
  width: 59px;
  height: 14px;
  background-position: -203px -64px;
}
.ground {
  width: 59px;
  height: 14px;
  background-position: -203px -79px;
}
.rock {
  width: 59px;
  height: 14px;
  background-position: -203px -94px;
}
.bug {
  width: 59px;
  height: 14px;
  background-position: -203px -109px;
}
.ghost {
  width: 59px;
  height: 14px;
  background-position: -203px -124px;
}
.steel {
  width: 59px;
  height: 14px;
  background-position: -203px -139px;
}
.fire {
  width: 59px;
  height: 14px;
  background-position: -203px -154px;
}
.water {
  width: 59px;
  height: 14px;
  background-position: -203px -169px;
}
.grass {
  width: 59px;
  height: 14px;
  background-position: -203px -184px;
}
.electric {
  width: 59px;
  height: 14px;
  background-position: -203px -199px;
}
.psychic {
  width: 59px;
  height: 14px;
  background-position: -203px -214px;
}
.ice {
  width: 59px;
  height: 14px;
  background-position: -203px -229px;
}
.dragon {
  width: 59px;
  height: 14px;
  background-position: -203px -244px;
}
.dark {
  width: 59px;
  height: 14px;
  background-position: -203px -259px;
}
.fairy {
  width: 59px;
  height: 14px;
  background-position: -203px -274px;
}
.unknown {
  width: 59px;
  height: 14px;
  background-position: -203px -289px;
}
.shadow {
  width: 59px;
  height: 14px;
  background-position: -203px -304px;
}